
body{
    background-color: #000;
    font-family:cursive
}
.logo{
    height:100px;
    width:140px;
}
.nav-container{
    padding:10px 10%;
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size:larger;

}
nav ul li{
    display: inline-block;
    margin: 20px;
}

.about-image{
    border-radius: 100px;
    height:400px;
    
}
.text{
    color:white;
    padding:10%
}
.home-body{
    display: flex;
    justify-content: space-between;
}
.home-image{
    padding-right: 7%;
}
.home-body{
    animation:fadein 3s forwards;
}
.intro{
    background: linear-gradient(to right,
    Blue,
    
    green
    
    );
}
@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(-2em);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* ---------------about--------------- */

.about-container{
    justify-content: space-between;
    display: flex;
    animation:fadein 3s forwards;
}
/* .about-col-1-img{
    height:450px;
    padding-left: 50px;
}
.about-col-2{
    color:white;
    margin-top:100px;
    align-items: center;
    width:60%; */
/* } */

.about-col-1-img{
    height:450px;
}
.about-col-2{
    color:white;
    align-items: center;
}
.tab-titles a{
    color: white;
    text-decoration: none;
    margin:20px ;
}
.tab-titles div{
    display: none;
}
.tab-titles div:target{
    display: block;
}


/* ------------Contact-----------*/
.contact-left{
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}